@use '@styles/variables' as *;

.upload-progress {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__info {
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
  }

  &__filename {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $text-color;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__size {
    font-size: $font-size-sm;
    color: $text-color-secondary;
  }

  &__bar {
    width: 100%;
    height: 4px;
    background-color: $background-color;
    border-radius: $border-radius-sm;
    overflow: hidden;
  }

  &__fill {
    height: 100%;
    background-color: #28f215;
    transition: width 0.3s ease;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
  }

  &__percentage {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $text-color;
  }

  &__text {
    font-size: $font-size-sm;
    color: $text-color-secondary;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}
